<template>
  <div class="nav-bar">
    <img id="background" src="@/assets/nav-bar-background.png">
    <div class="nav-links">
      <router-link class="nav-link-text" to="/">Home</router-link>
      <router-link class="nav-link-text" to="/about">About</router-link>
      <router-link class="nav-link-text" to="/projects">Projects</router-link>
      <a href="https://www.linkedin.com/in/michael-epps-449503126/">
        <img class="nav-link-logo" id="linked-in" src="@/assets/logos/linked-in.png">
      </a>
      <a href="https://gitlab.com/Madxmike">
        <img class="nav-link-logo" id="linked-in" src="@/assets/logos/github.png">
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'nav-bar'
}
</script>

<style>
.nav-bar {
  width: 100%;
  max-width: 100%;
}

#background {
  max-width: 100%;
  width: 100%;
}
</style>
